<form class="max-w-sm mx-auto" action="">
  <div class="relative z-0 w-full mb-5 group">
    <app-inputs
      nameLabel="Nombre Producto"
      inputId="nameProducto"
      type="text"
      class="block mb-2 text-sm font-medium text-gray-900"
      classInput="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
    />
  </div>
  <div class="relative z-0 w-full mb-5 group">
    <app-inputs
      nameLabel="Descripcion"
      inputId="Description"
      type="text"
      class="block mb-2 text-sm font-medium text-gray-900"
      classInput="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
    />
  </div>
  <div class="relative z-0 w-full mb-5 group">
    <app-inputs
      nameLabel="Precio"
      inputId="price"
      type="number"
      class="block mb-2 text-sm font-medium text-gray-900"
      classInput="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
    />
  </div>
  <div class="relative z-0 w-full mb-5 group">
    <app-inputs
      nameLabel="Cantidad"
      inputId="amount"
      type="number"
      class="block mb-2 text-sm font-medium text-gray-900"
      classInput="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
    />
  </div>
  <div class="relative z-0 w-full mb-5 group">
    <app-buttons
      typeButton="submit"
      titleButton="Guardar"
      classButton="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      (click)="save()"
    />
  </div>
</form>
