<form [formGroup]="form" (ngSubmit)="save()" class="max-w-sm mx-auto">
  <div class="relative z-0 w-full mb-5 group">
    <app-selects
      labelName="Productos"
      selectId="productoNombre"
      [selectValues]="productosSimplificados()"
      formControlName="productoNombre"
      optionOne="Selecciona el Producto"
    />
    @if (form.get('productoNombre')?.touched &&
    form.get('productoNombre')?.hasError('required')) {
    <p class="text-red-500 text-sm">El nombre es obligatorio.</p>
    }
  </div>
  <div class="relative z-0 w-full mb-5 group">
    <app-selects
      labelName="empleados"
      selectId="empleadoNombre"
      [selectValues]="empleadosSimplificados()"
      formControlName="empleadoNombre"
      optionOne="Seleccione el Empleado"
    />
    @if(form.get('empleadoNombre')?.touched &&
    form.get('empleadoNombre')?.hasError('required')){
    <p class="text-red-500 text-sm">El empleado es obligatorio.</p>
    }
  </div>
  <div class="relative z-0 w-full mb-5 group">
    <app-inputs
      nameLabel="Cantidad"
      inputId="amount"
      type="number"
      class="block mb-2 text-sm font-medium text-gray-900"
      classInput="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      formControlName="cantidad"
    />
    @if (form.get('cantidad')?.touched &&
    form.get('cantidad')?.hasError('required')) {
    <p class="text-red-500 text-sm">la cantidad es obligatoria.</p>
    }
  </div>
  <div class="relative z-0 w-full mb-5 group">
    <app-inputs
      nameLabel="Total"
      inputId="total"
      type="number"
      class="block mb-2 text-sm font-medium text-gray-900"
      classInput="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      formControlName="total"
      isDisabledInternal="true"
    />
    @if (form.get('total')?.touched && form.get('total')?.hasError('required'))
    {
    <p class="text-red-500 text-sm">el total es obligatorio.</p>
    }
  </div>
  <div class="relative z-0 w-full mb-5 group flex justify-around">
    <app-buttons
      typeButton="submit"
      [titleButton]="form.value.id ? 'Actualizar' : 'Guardar'"
      classButton="cursor-pointer text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
    />
    <app-buttons
      typeButton="button"
      (click)="alerta()"
      titleButton="limpiar"
      classButton="cursor-pointer text-gray bg-white hover:bg-amber-100 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
    />
  </div>
</form>
