<table
  class="w-full text-sm text-left text-gray-500 dark:text-gray-400 border border-gray-200"
>
  <thead
    class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-white"
  >
    <tr>
      @for (column of columns(); track $index) {
      <th scope="col" class="px-6 py-3">{{ column.label }}</th>
      }
      <th scope="col" class="px-6 py-3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    @if (data().length === 0) {
    <tr>
      <td colspan="100%" class="text-center py-4 text-gray-500">
        No hay registros disponibles.
      </td>
    </tr>
    } @else { @for (item of data(); track $index) {
    <tr
      class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 transition"
    >
      @for (column of columns(); track column.key) {
      <td class="px-6 py-4">
        {{ item[column.key] }}
      </td>
      }

      <td class="px-6 py-4 flex items-center space-x-3">
        <button (click)="onEdit(item)">✏️</button>
        <button (click)="onDelete(item)">🗑️</button>
      </td>
    </tr>
    } }
  </tbody>
</table>
